.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.nav-bar li{
  list-style: none;
  margin-right: 20px;
}

form{
  background-color: beige;
  background-size: cover;
  
}
h1{
  background-color: aqua;
  background-size: 50%;
  font-size: larger;

  font-weight: bold;

}
h2{
  color: blue;
  
}
input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;


}

label{
  margin-right: 5px;
  color: red;
  font-size: medium;
  padding: 5px;

}
li{
  color: red;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
button{
  border-style: none;
  border-color: green;
}